{% extends 'layout.html.twig' %}

{% block title %}Merci{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-3 mt-5 mb-5">Merci et à bientôt !</h1>

        <div class="d-flex flex-column justify-content-between m-3 p-2 bg-dark-color rounded flex-wrap">

            <p class="text-secondary m-2">Récapitulatif du billet :</p>


            <p class="m-3"><i class="fas fa-calendar-alt"></i> {{ spectacle.date ? spectacle.date|date('d F Y') : '' }}
            </p>
            <p class="m-3"><i class="fas fa-map-marker-alt"></i> {{ spectacle.town }} - {{ spectacle.roomAddress }}</p>
            <p class="m-3"><i class="fas fa-tags"></i> {{ spectacle.price > 0 ? spectacle.price ~ ' €' : 'gratuit' }}
            </p>

            <p class="text-secondary m-2">Informations :</p>

            <p class="m-3">{{ app.user.firstname }}</p>
            <p class="m-3">{{ app.user.lastname }}</p>
            <p class="m-3">{{ app.user.address }}</p>
            <p class="m-3">{{ app.user.phone }}</p>

        </div>
        <a class="btn btn-secondary m-3" href="{{ path('index') }}"><p class="m-0">Retour à l'Accueil</p></a>
    </div>
{% endblock %}
