{% extends 'layout.html.twig' %}

{% block title %}Spectacles{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="m-3 mt-5 mb-5">Toutes les dates</h1>

        <div class="row m-3 mb-5">
            <div class="col-lg-4 col-12 bg-dark-color rounded p-3">
                {{ form_start(form) }}
                <a href="{{ path('spectacles_index') }}" class="float-right">
                    <i class="fas fa-sync text-secondary"></i>
                </a>
                {{ form_widget(form) }}
                <button class="btn btn-outline-secondary w-100">Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>

        {% for spectacle in spectacles %}

            <div class="d-flex m-3 p-2 bg-dark-color rounded text-light">

                <div class="w-50 d-flex justify-content-around flex-wrap">
                    <p class="m-3">{{ spectacle.town }}</p>
                    <p class="m-3">{{ spectacle.date ? spectacle.date|date('d M Y') : '' }}</p>
                </div>

                <div class="w-50 d-flex justify-content-between flex-wrap">
                    {% if spectacle.places == 0 %}
                        <p class="m-3"><i class="fas fa-users"></i> complet</p>
                    {% else %}
                        <p class="m-3 my-auto">{{ spectacle.price > 0 ? spectacle.price ~ '€' : 'gratuit' }}</p>
                    {% endif %}

                    <a class="btn btn-secondary text-light m-3 my-auto"
                       href="{{ path('spectacles_show', {'id': spectacle.id}) }}">
                        Voir plus
                    </a>
                </div>

            </div>
        {% else %}

            <h2 class="m-5">Aucun spectacle trouvé</h2>

        {% endfor %}

    </div>
{% endblock %}
