{% extends 'layout.html.twig' %}

{% block title %}Spectacle {{ spectacle.town }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-3 mt-5 mb-4">Spectacle à {{ spectacle.town }}</h1>

        <p class="m-3"><i class="fas fa-calendar-alt"></i> {{ spectacle.date ? spectacle.date|date('d F Y') : '' }}</p>
        <p class="m-3"><i class="fas fa-map-marker-alt"></i> {{ spectacle.roomAddress }}</p>
        <p class="m-3"><i
                    class="fas fa-users"></i> {{ spectacle.places > 0 ? spectacle.places ~ ' places restantes': 'Complet' }}
        </p>

        <div class="d-flex flex-column align-items-center m-3 p-2 bg-dark-color rounded text-light flex-wrap">

            <div class="d-flex flex-column p-4 flex-wrap">
                <p class="m-3 mx-auto">« {{ spectacle.description }} »</p>
            </div>

            <p class="m-3"><i class="fas fa-tags"></i> {{ spectacle.price > 0 ? spectacle.price ~ ' €' : 'gratuit' }}
            </p>


            <a href="{{ path('spectacles_book', {'id': spectacle.id}) }}" class="btn btn-outline-secondary m-3">
                <p class="m-2"> {{ app.user ? 'Réserver': 'Connectez vous pour réserver' }}</p>
            </a>

        </div>

        <a class="btn btn-secondary m-3" href="{{ path('spectacles_index') }}">Tous les spectacles</a>

    </div>
{% endblock %}
