<nav class="navbar navbar-expand-xl fixed-top">

    <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse_target">

        <a class="navbar-brand d-none d-xl-block m-2 ml-3 text-black" href="{{ path('index') }}">
            {% if is_granted("ROLE_ADMIN") %}
                Wild Circus Admin
            {% else %}
                Wild Circus
            {% endif %}

        </a>

        <ul class="navbar-nav d-flex justify-content-end align-items-center w-100">

            <li class="nav-item d-xl-none mr-xl-5">
                <a href="{{ path('index') }}" class="nav-link"><span class="nav-effect text-black">ACCUEIL</span></a>
            </li>

            <li class="nav-item d-flex mr-xl-5">
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_spectacles_index') }}" class="nav-link"><span class="nav-effect text-black">SPECTACLES</span></a>
                {% else %}
                    <a href="{{ path('spectacles_index') }}" class="nav-link"><span class="nav-effect text-black">SPECTACLES</span></a>
                {% endif %}
            </li>

            {% if app.user %}
            <li class="nav-item d-flex align-self-center mr-xl-5">
                <a href="{{ path('account') }}" class="nav-link"><span class="nav-effect text-black">COMPTE</span></a>
            </li>
            {% endif %}

            <li class="nav-item d-flex align-self-center mr-xl-5">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="nav-link"><span class="nav-effect text-black">DÉCONNEXION</span></a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link"><span class="nav-effect text-black">CONNEXION</span></a>
                {% endif %}
            </li>
        </ul>

    </div>
</nav>
