{% extends 'layout.html.twig' %}

{% block title %}Spectacle{% endblock %}

{% block body %}
    <h1>Spectacle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ spectacle.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ spectacle.date ? spectacle.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ spectacle.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ spectacle.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ spectacle.picture }}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ spectacle.places }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_spectacles_index') }}">back to list</a>

    <a href="{{ path('admin_spectacles_edit', {'id': spectacle.id}) }}">edit</a>

    {{ include('admin_spectacle/_delete_form.html.twig') }}
{% endblock %}
